{
	"extends": ["airbnb", "prettier", "plugin:jest/recommended"],
	"plugins": ["prettier", "jest"],
	"env": {
		"jest": true
	},
	"rules": {
		"prettier/prettier": "error",
		"max-len": ["warn", { "code": 100 }],
		"consistent-return": 1
	}
}
